.soma-custom-range{
    -webkit-appearance:none;
    width:300px;
    height:20px;
    background: linear-gradient(to right, #555d66 0%, #555d66 100%);
    background-size: 300px 5px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
}

.soma-custom-range::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border-radius: 50%;
    background:#0085ba;
    position:relative;
    z-index:3;
    cursor: pointer;
}

.soma-custom-range::-webkit-slider-thumb:after{
    content:" ";
    width:300px;
    height:10px;
    position:absolute;
    z-index:1;
    right:20px;
    top:5px;
    background: #515151;
    background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}